@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --primary-color:#131318;
    --secondary-color: rgb(255, 255, 255);
    --para-color:#5A5A5D;
    --subtitle-color:#131318B3;
    --button-bg-color:rgb(255, 84, 0);
    --menu-bar-color:#424247;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



/* -------------shared-style----------------- */
main > section{
    max-width:1170px;
    margin:5rem auto;
}

.flex{
    display:flex;
}

h1{
    color: var(--secondary-color);
    font-size: 4rem;
    font-weight: 800;
    line-height: 5rem;
}

h2{
    color:var(--primary-color);
    font-size:2.5rem;
    font-weight: 800;
    line-height:3.125rem;
}

p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.text-center{
    text-align:center;
}

.card-description{
    color: var(--para-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.subtitle{
    color: var(--subtitle-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.subtitle-margin{
    margin:0 17rem;
}

.primary-btn,
.secondary-btn{
    background:var(--button-bg-color);
    border:none;
    border-radius:.5rem;
    padding:1rem 1.5rem;
}

.secondary-btn{
    padding:.8rem 2.2rem;
}

.primary-btn a{
    color:var(--secondary-color);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.225rem;
}
.primary-btn a span{
    margin-right:.5rem;
}

.main-title{
    margin-bottom:1.5rem;
    color:var(--primary-color);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.125rem;
}

/* ---------------------header-section----------------------- */
/* ----------nav-section---------------- */
.nav-bar{
    align-items:center;
    justify-content:space-between;
    padding:3rem 9%;
}

.logo-name{
    font-size:2.2rem;
    font-weight: 800;
    line-height: 2.8rem;
}

.logo-name span{
   color:var(--button-bg-color);
}

.nav-logo,
.main-menu{
    align-items:center;
    gap:.8rem;
    cursor: pointer;
}

.main-menu li a {
    margin-right:2.5rem;
    color: var(--menu-bar-color);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.main-menu li a:hover {
   color:var(--button-bg-color);
}

/* -----------------hero-section------------------------- */
.hero-section{
    max-width:1170px;
    margin:0 auto;
    border-radius:1rem;
    background-image:linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%)
    ,url(../Images/banner.png);
    background-repeat:no-repeat;
    text-align:center;
    height:500px;
    padding:7rem;
}

.hero-container .hero-subtitle{
    color:var(--secondary-color);
    margin:1.5rem 10rem 3rem 10rem;
}

input, select{
    height:3.2rem;
    width:10rem;
    border-radius:.5rem;
    border:none;
    padding:0 .5rem;
    border-right:.375rem solid #fff;
    outline:none;
    font-size:1rem;
    margin:0 1rem;
}

select{
    color: rgba(19, 19, 24, 0.5);
    font-weight: 400;
    line-height: 1.125rem;
}

.search-option{
    border-radius:.5rem;
    background: rgba(255, 255, 255, 0.3);
    display:inline-block;
    padding:1rem 0rem;
}

.search-option button{
   margin:0 1rem;
}

/* -----------popular-section-------------- */
.popular-container{
    align-items:center;
    gap: 3.5rem;
}

.popular-menu li{
    list-style:disc;
    margin-left:2rem;
    margin-top:1.5rem;
    color:var(--primary-color);
    opacity: 0.7;
    font-size: 1rem;
    font-weight: 400;
    line-height:1.125rem;
}

.popular-description{
    color: rgb(90, 90, 93);
    margin:1.5rem 0;
}

/* -----------destination-section---------------- */

.destination-container,
.box{
   border-radius:1rem;
}

.destination-container,
.box h4{
    font-size: 1.625rem;
    font-weight: 800;
    line-height: 2.125rem;
}

.image1, .image2, .image6, .image7{
    height:300px;
}

.image3, .image4, .image5{
    height:286px;
}


.image1{
    grid-area: des1;
    background:url(../Images/destination1.png);
}

.image2{
    grid-area: des2;
    background:url(../Images/destination2.png);
}
.image3{
    grid-area: des3;
    background:url(../Images/destination3.png);
}
.image4{
    grid-area: des4;
    background:url(../Images/destionation4.png);
}
.image5{
    grid-area: des5;
    background:url(../Images/destination5.png);
}
.image6{
    grid-area: des6;
    background:url(../Images/destination6.png);
}
.image7{
    grid-area: des7;
    background:url(../Images/destination7.png);
}


.box{
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--secondary-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.destination-container{
    display:grid;
    gap:1.5rem;
    margin-top:4rem;
    grid-template-areas:  
        'des1 des1 des1 des1 des1 des2 des2 des2 des2 des2'
        'des3 des3 des3 des4 des4 des4 des4 des4 des5 des5'
        'des6 des6 des6 des6 des7 des7 des7 des7 des7 des7'
    ;

}

/* -----------------choose-section----------------- */
.choose-container{
    align-items:center;
    gap:1.5rem;
    margin-top:3rem;
}
.choose-card{
    text-align:left;
    padding:2rem 3.5rem 2rem 2rem;
}

.choose-card h3{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2.8rem;
    margin:1.5rem 0 1rem 0;
}

.choose-card1, 
.choose-card2, 
.choose-card3{
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius:1rem;
    background: rgba(251, 181, 99, 0.05);
}

.choose-card2{
    border: 1px solid rgba(41, 206, 246, 0.2);
    background: rgba(41, 206, 246, 0.05);
}

.choose-card3{
    margin:1.5rem 18.656rem;
    border: 1px solid rgba(233, 68, 68, 0.2);
    background: rgba(233, 68, 68, 0.05);
}

/* -----------deals-section----------- */
.deals-icon, .icon{
    display: flex;
    align-items:center;
    gap:2rem;
}

.icon{
    gap:.8rem;
}

.deals-title{
    font-size:1.5rem;
    font-weight:800;
    line-height:1.8rem;
    color: var(--primary-color);
    margin-top:1rem;
}

.deals-subtitle{
    color: rgb(90, 90, 93);
    color:var(--para-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin:1rem 0;
}

.card-1, .deals-card{
    text-align:left;
    background:var(--secondary-color);
    width:45%;
    padding:2rem;
    border-radius:1.5rem;
}


.deals-price{
    color:var(--button-bg-color);
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    margin-bottom:1rem;
}

.deals-content, .deals-content2{
    background:url(../Images/deal1.png);
    background-size:cover;
    background-repeat:no-repeat;
    padding:3rem;
    border-radius:1.5rem;
    display:flex;
    align-items:center;
    justify-content: right;
}

.deals-content2{
    background:url(../Images/deal2.png);
    justify-content:left;
}

.deals-container{
    display:flex;
    flex-direction:column;
    gap:2rem;
    margin:3rem;
}


/* -----------perfect-section------------- */
.perfect-description{
    margin-bottom:2rem;
}
.perfect-description li{
    color:black;
    opacity:100%;
    font-weight:700;
}

/* ------------newsletter-section------------- */
.newsletter-form{
    display:flex;
    flex-direction: column;
    gap:1rem;
    border:1px solid var(--button-bg-color);
    padding:1rem;
    border-radius:1rem;
}

.newsletter-form input{
  background: #fbf9f9;
  width:100%;
  margin-left:0px;
  margin:0 0 1rem 0;
}

.newsletter-container{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:2rem;
}

.newsletter-card{
    position:relative;
}

.news-card{
    background:var(--button-bg-color);
    color:var(--secondary-color);
    padding:1rem 1.5rem;
    display: inline-block;
    border-radius:.5rem;
    transform:rotate(-20deg);
    position:absolute;
    bottom:3.2rem;
    right:.5rem;
    text-align:center;
}

.news-card p{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 30px;
}
.news-card h3{
    font-size:2rem;
    font-weight: 800;
    line-height: 2.5rem;
}

/* --------footer-section----------- */
footer{
    background:#1313180D;
    text-align: center;
}

footer > p{
    margin-top:1rem;
   padding-bottom:3rem;
}

.footer-area{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:2rem;
    padding:2rem 0;
    text-align:center;
    max-width: 872px;
    margin:0 auto;
    border-bottom: 1px solid #5A5A5D;
}

.media-icon{
    gap:1rem;
}
.media-icon span{
    cursor: pointer;
}




